In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
!mkdir /content/dataset

In [ ]:
!unzip "/content/drive/MyDrive/Colab Notebooks/IS217/Dataset/data.zip" -d "/content/dataset"

Archive:  /content/drive/MyDrive/Colab Notebooks/IS217/Dataset/data.zip
  inflating: /content/dataset/Amazon Sale Report.csv
  inflating: /content/dataset/Cloud Warehouse Compersion Chart.csv
  inflating: /content/dataset/Expense IIGF.csv
  inflating: /content/dataset/International sale Report.csv
  inflating: /content/dataset/May-2022.csv
  inflating: /content/dataset/P  L March 2021.csv
  inflating: /content/dataset/Sale Report.csv

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv("/content/dataset/Amazon Sale Report.csv", low_memory=False)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128975 entries, 0 to 128974
Data columns (total 24 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   index               128975 non-null  int64
 1   Order ID            128975 non-null  object
 2   Date                128975 non-null  object
 3   Status              128975 non-null  object
 4   Fulfilment          128975 non-null  object
 5   Sales Channel       128975 non-null  object
 6   ship-service-level  128975 non-null  object
 7   Style               128975 non-null  object
 8   SKU                 128975 non-null  object
 9   Category            128975 non-null  object
 10  Size                128975 non-null  object
 11  ASIN                128975 non-null  object
 12  Courier Status      122103 non-null  object
 13  Qty                 128975 non-null  int64
 14  currency            121180 non-null  object
 15  Amount              121180 non-null  float64
 16  ship-city           128942 non-null  object
 17  ship-state          128942 non-null  object
 18  ship-postal-code    128942 non-null  float64
 19  ship-country        128942 non-null  object
 20  promotion-ids       79822 non-null   object
 21  B2B                 128975 non-null  bool
 22  fulfilled-by        39277 non-null   object
 23  Unnamed: 22         79925 non-null   object
dtypes: bool(1), float64(2), int64(2), object(19)
memory usage: 22.8+ MB

# PREPROCESSING

In [ ]:
# Loại bỏ các thuộc tính không cần thiết
df.drop(columns=['Courier Status', 'Unnamed: 22', 'ASIN', ], inplace=True)

# Xóa các dòng dữ liệu NaN 'Amount', 'ship-city'
df = df.dropna(subset=['Amount', 'ship-city'], inplace=False)

# Fill các ô có giá trị NaN ở cột 'fulfilled-by' bằng 'Amazon Ship'
df['fulfilled-by'].fillna('Amazon Ship', inplace=True)

# Fill các ô có giá trị NaN ở cột 'promotion-ids' bằng 'None'
df['promotion-ids'].fillna('None', inplace=True)

# Tách dữ liệu ở cột 'Status' ban đầu ra thành 2 cột 'Status' và 'Status-detail'
df[['Status', 'Status-detail']] = df['Status'].str.split(' - ', expand=True)

# Fill các ô có giá trị NaN ở cột 'Status-detail' bằng 'None'
df['Status-detail'].fillna('None', inplace=True)

# Đổi kiểu dữ liệu cột 'ship-postal-code' sang object
df['ship-postal-code'] = df['ship-postal-code'].astype(object)

<ipython-input-41-de0a529db88c>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['fulfilled-by'].fillna('Amazon Ship', inplace=True)    # Fill các ô có giá trị NaN ở cột 'fulfilled-by' bằng 'Amazon Ship'

In [ ]:
df.reset_index(drop=True)

In [ ]:
df['Date'].head()

0    04-30-22
1    04-30-22
2    04-30-22
3    04-30-22
4    04-30-22
Name: Date, dtype: object

In [ ]:
# Convert 'Date' column to datetime format
df['Date'] = pd.to_datetime(df['Date'], format='%m-%d-%y')

# Format the date as 'MM/DD/YYYY'
df['Date'] = df['Date'].dt.strftime('%m/%d/%Y')

In [ ]:
df['Date'].head(10)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 121149 entries, 0 to 128974
Data columns (total 22 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   index               121149 non-null  int64
 1   Order ID            121149 non-null  object
 2   Date                121149 non-null  object
 3   Status              121149 non-null  object
 4   Fulfilment          121149 non-null  object
 5   Sales Channel       121149 non-null  object
 6   ship-service-level  121149 non-null  object
 7   Style               121149 non-null  object
 8   SKU                 121149 non-null  object
 9   Category            121149 non-null  object
 10  Size                121149 non-null  object
 11  Qty                 121149 non-null  int64
 12  currency            121149 non-null  object
 13  Amount              121149 non-null  float64
 14  ship-city           121149 non-null  object
 15  ship-state          121149 non-null  object
 16  ship-postal-code    121149 non-null  object
 17  ship-country        121149 non-null  object
 18  promotion-ids       121149 non-null  object
 19  B2B                 121149 non-null  bool
 20  fulfilled-by        121149 non-null  object
 21  Status-detail       121149 non-null  object
dtypes: bool(1), float64(1), int64(2), object(18)
memory usage: 20.4+ MB

In [ ]:
df.to_csv('/content/drive/MyDrive/IS217/Dataset/preprocessed_data.xlsx', index=False)